.pagination-btn{
	float: left;
	color: #333;
	font-size:14px;
	line-height:24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	margin:2px;
	min-width: 14px;
	padding:  0 7px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	
}
